This will be the event listing page
<p><% @event.each do |e| %></p>
<p><%= e.event_name %>    <%=	e.location %></p>
<% end %>
<p><%= link_to 'new event', new_event_path, class:"btn btn-default" %></p>
