<div class="container-fluid">
<div class="row">
  <div class="col-md-12">
    <div class="col-md-4 event-image">
      <p><%=  image_tag   @event.avatar.url(:medium)%></p>
    </div>

    <div class="col-md-8 event-details">
      
      <p><%= @event.event_name %></p>

      <p>Price: <%=  number_to_currency(@event.ticket_price) %></p>
      <p>Location: <%= link_to @event.location, "http://maps.google.com/#{@event.latitude},#{@event.longitude}" %> <p>
    </div>

  </div>
</div>
</div>