<div class="row">
	<h1 class="landing_title">New York Hip Hop</h1>
</div>
<div class="row">
	<p class="landing_desc col-sm-6 col-sm-offset-3"></p>
</div>
<div class="row landing_desc">
	<p><%= link_to('Login', new_user_session_path, class:'btn btn-default') %>  </p>
</div>


